/* ETIQUETAS */

body {
    background-color: rgb(25, 202, 143);
}

footer {
    background-color: rgb(10, 92, 65); 
    color: white;
    left: 0;
    bottom:0;
    position: fixed;
    width: 100%;
    text-align: center;
}

label {
    font-size: 20px;
}

input[type="text"], input[type="date"], input[type="file"], input[type="number"], input[type="password"] {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(216, 209, 209);
    resize: vertical;
}

/* ID */

#formulario {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
}

#titulo {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}

/* CLASS */

.navbar {
    background-color: rgb(10, 92, 65); 
    width: 100%;
    overflow: auto;
}

.navbar a {
    color: white;
    font-size:  20px;
    text-decoration: none;
    padding: 10px;
    float: left;
}

.navbar a:hover {
    background-color: rgb(10, 119, 83);
}

.activo {
    background-color: rgb(10, 119, 83);
}

.btn {
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    padding: 10px 15px;
}

.btn-verde {
    background-color: rgb(7, 109, 41);
}

.btn-verde:hover {
    background-color: rgb(4, 63, 24);
}

.btn-rojo {
    background-color: rgb(151, 10, 10);
}

.btn-rojo:hover {
    background-color: rgb(109, 11, 11);
}



